.footer {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  right: 0;
  left: 0;

  .footer-menus {
    display: flex;

    .footer-menu {
      text-align: center;
      flex: 1;

      a {
        text-decoration: none;
        color: #333;
      }
    }
  }
}
